<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Ramakrishna Mission Language and Culture School</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/student-page.css">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://cdn.jsdelivr.net;"> -->
</head>
<body>
    <div class="sidebar">
        <h2>Dashboard</h2>
        <a href="/students">Students</a>
        <a href="/faculty">Faculty</a>
        <a href="#batch">Batch</a>
        <a href="/course">Course</a>
        <a href="#admission">Admission</a>
        <a href="#fees">Fees</a>
    </div>
    <div class="main-content">
        <h2>Students</h2>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Search...">
            <img src="/images/filter-blue-icon.jpeg" alt="Filter Icon" id="filterIcon">
            <div class="search-dropdown" id="searchDropdown">
                <select id="searchCategory">
                    <option value="name">Name</option>
                    <option value="fathersName">Father's Name</option>
                    <option value="aadhaarNo">Aadhaar Number</option>
                    <option value="phone">Phone</option>
                </select>
            </div>
        </div>
        
        
        <div class="table-container">
            <table id="studentsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Aadhaar Number</th>
                        <th>Phone</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                
                    <!-- Dynamic rows will be inserted here -->
                </tbody>
            </table>
            <button id="addStudentButton">Add New Student</button>
        </div>
    </div>

    <!-- The Modal for adding new student -->
    <div id="studentFormModal" class="form-container">
        <div class="form-content">
            <span class="close">&times;</span>
            <h2>Add New Student</h2>
            <form id="studentForm" method="POST" action="/api/v1/student/add-new-student">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="fathersName">Father's Name:</label>
                <input type="text" id="fathersName" name="fathersName">
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
<!--                 
                <label for="photo">Photo URL:</label>
                <input type="text" id="photo" name="photo">
                 -->
                <label for="aadhaarNo">Aadhaar Number:</label>
                <input type="text" id="aadhaarNo" name="aadhaarNo" minlength="12">
                
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
                
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" name="dob" required>
                
                <label for="phone">Phone:</label>
                <input type="text" id="phone" name="phone">
                
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
                
                <label for="education">Education:</label>
                <input type="text" id="education" name="education">
                
                <label for="reference">Reference:</label>
                <input type="text" id="reference" name="reference">
                
                <button type="submit">Add Student</button>
            </form>
        </div>
    </div>
    <script src="/js/student-page.js"></script>
</body>
</html>
