body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e6;
    color: #333;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 150px;
    background-color: #e65c00;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 4px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(235, 127, 11);
}

.sidebar a:hover {
    background-color: #ff704d;
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admission-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 800px;
}

.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step-symbol {
    width: 30px;
    height: 30px;
    background-color: #e65c00;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.step {
    display: none;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #e65c00;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.search-container input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-dropdown {
    /* position: absolute;
    top: 100%;
    left: 0; */
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.search-dropdown.active {
    display: block;
}

.search-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}

#filterStudentIcon, #filterBatchIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 10px;
}

button {
    padding: 10px 20px;
    background-color: #004de6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(25, 138, 237);
}
