body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e6;
    color: #333;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.sidebar {
    width: 30vh;
    background-color: #e65c00;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.sidebar a {
    color: white;
    text-decoration: none;
    margin: 0.5vh 0;
    padding: 10px;
    border-radius: 1.5vh;
    text-align: center;
    background-color: rgb(235, 127, 11);
}
.sidebar a:hover {
    background-color: #ff704d;
}
.main-content {
    flex: 1;
    padding: 20px;
    background: #FFDEAD;
    background-image: url('/images/logo-rkm.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    overflow-y: auto;
    height: 100vh;
}
.main-content h2 {
    margin-bottom: 20px;
    color: #e65c00;
}

.table-container-outer{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.table-container {
    overflow-y: auto;
    height: 48vh;
    margin-bottom: 1vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #e65c00;
    color: white;
}
tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

#facultyFormModal{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  display: none;
}

.form-content {
    display: grid;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.form-content input {
    width: calc(100% - 1vw);
    margin-bottom: 6px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-content h2 {
    justify-self: center;
    margin-top: 0;
    color: #e65c00;
}
.form-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-content button {
    padding: 10px 20px;
    background-color: #e65c00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-content button:hover {
    background-color: #ff704d;
}

#facultyFormModal #facultyForm{
    grid-gap: 1vw;
    display: grid;
    grid-template-columns: auto auto;
}

#facultyFormModal #facultyForm button{
    grid-column-start: 1;
    grid-column-end: 3;
}

.close {
    position: absolute;
    top: 3%;
    right: 3%;
    color: #aaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#addFacultyButton, #downloadExcelButton {
    padding: 10px 20px;
    background-color: #e65c00;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addFacultyButton:hover, #downloadExcelButton:hover {
    background-color: #f08239;
}
.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-container {
    /* position: relative;  */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-dropdown {
    /* position: absolute;
    top: 100%;
    left: 0; */
    z-index: 1;
    display: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.search-dropdown.active {
    display: block;
}

#filterIcon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 10px;
}

/* Additional styles for dropdown select */
.search-dropdown select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}
